
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.content-header{
   height: auto;
}
.navegacion {
   height: 100px;
   width: 100%;
   background-color: var(--color-principal);
   /* border: 1px solid red; */
}
.nav{
   display: flex;
}
.nav-logo {
   width: 25%;
   display: flex;
}
.nav-logo img{
   width: 60px;
   margin: auto 0;
}
.nav-logo .contenido-titulo{
   padding: 25px;
}
.nav-logo .contenido-titulo label{
   font-size: 25px;
   font-weight: bold;
}




.menu-navegacion{
   width: 75%;
}
.menu-navegacion .navegacion-social{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.menu-navegacion .navegacion-social .title{
   color: black;
   font-size: 14px;
   padding-right: 5px;
   
}
.menu-navegacion .navegacion-social .social-icon img{
   height: 30px;
   padding: 5px;
}

.inform-repositorio{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}









.contennt-metadata{
   height: 50px;
   background-color: #1F4794;
}