

.content-header{
   height: auto;
}
.navegacion {
   height: 100px;
   width: 100%;
   background-color: var(--color-principal);
   /* border: 1px solid red; */
}
.nav{
   display: flex;
}
.nav-logo {
   width: 25%;
   display: flex;
}
.nav-logo img{
   width: 60px;
   margin: auto 0;
}
.nav-logo .contenido-titulo{
   padding: 25px;
}
.nav-logo .contenido-titulo label{
   font-size: 25px;
   font-weight: bold;
}

.menu-navegacion{
   width: 75%;
   align-items: center;
   padding-top: 20px;
}
.navegacion-social, .inform-repositorio{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   font-size: 14px;
}
.menu-navegacion .navegacion-social .title{
   color: var(--color-text);
   padding-right: 5px;
}
.menu-navegacion .navegacion-social .social-icon img{
   height: 30px;
   padding: 5px;
}
.inform-repositorio li{
   padding: 0 5px;
   list-style: none;
   border-right: 1px solid var(--color-text);
}
.inform-repositorio li a{
   color: var(--color-text);
}
.inform-repositorio li:last-child{
   border: 1px solid var(--color-principal);
}





.contennt-metadata{
   height: 50px;
   background-color: #1F4794;
}